<div class="content-header">
	<span class="layui-breadcrumb">
	  <a href="#!home"><span i18n="home_page"></span></a>
	  <a><cite><span i18n="log_api_out"></span> </cite></a>
	</span>
    <div class="layui-form toolbar">
        <span i18n="search"></span>：
        <select id="searchKey">
            <option value="" i18n="please_select"></option>
            <option value="notifyId" i18n="log_api_out_notify_id"></option>
            <option value="url" i18n="config_interface_url"></option>
            <option value="param" i18n="log_api_data"></option>
            <option value="result" i18n="log_api_response"></option>
        </select>

        <input id="searchValue" class="layui-input search-input" type="text"/>&emsp;

        <div class="layui-inline">
            <label class="layui-form-label"><span i18n="date_range"></span></label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="date_range" placeholder=" - ">
            </div>
        </div>
        <button id="searchBtn" class="layui-btn search-btn" permission="40021"><i class="layui-icon">&#xe615;</i><span
                i18n="search"/></button>
        &emsp;

    </div>

</div>
<table class="layui-table" id="table" lay-filter="table"></table>

<script type="text/javascript">

    $(function () {

        refreshPermission();
        refreshI18n();

        var initDateRange=layui.util.toDateString(new Date(),"yyyy-MM-dd") + " - " + layui.util.toDateString(new Date(),"yyyy-MM-dd");
        //日期范围
        layui.laydate.render({
            elem: '#date_range'
            , range: true
            , lang: getNavLanguage() == 'en' ? 'en' : 'cn'
            , value: initDateRange
        });

        //渲染表格
        layui.table.render({
            elem: '#table',
            url: '/servlet/log/api_log_out',
            where: {
                token: getToken(),
                dateRange: initDateRange
            },
            page: true,
            cols: [[
                {type: 'numbers'},
                {field: 'notifyId', sort: true, title: getI18nAttr('log_api_out_notify_id')},
                {field: 'url', sort: true, title: getI18nAttr('config_interface_url')},
                {field: 'param', sort: true, title: getI18nAttr('log_api_data')},
                {field: 'result', sort: true, title: getI18nAttr('log_api_response')},
                {field: 'num', sort: true, title: getI18nAttr('log_api_out_notify_num')},
                {field: 'status', sort: true, title: getI18nAttr('status')},
                {
                    field: 'createdTime', sort: true, templet: function (d) {
                    return layui.util.toDateString(d.createdTime * 1000);
                }, title: getI18nAttr('create_time')
                },
            ]],
            done: function (res, curr, count) {
                refreshI18n();
            }
        });

        //搜索按钮点击事件
        $("#searchBtn").click(function () {
            doSearch(table);
        });

        function doSearch(table) {
            var key = $("#searchKey").val();
            var value = $("#searchValue").val();
            if (value == '') {
                key = '';
            }
            var date_range = $("#date_range").val();
            if(!date_range){
                layer.msg("Pls select date.", {icon: 2});
                return;
            }
            layui.table.reload('table', {
                where: {
                    searchKey: key,
                    searchValue: value,
                    dateRange: date_range
                }
            });
        }
    });

</script>