

<div class="content-header">
	<span class="layui-breadcrumb">
	  <a href="#!home"><span i18n="home_page"></span></a>
	  <a><cite><span i18n="inventory_balance"></span> </cite></a>
	</span>
    <div class="layui-form toolbar">
        <span i18n="search"></span>：
        <select id="searchKey">
            <option value="" i18n="please_select"></option>
            <option value="sku" i18n="basic_sku"></option>
            <option value="supplierId" i18n="basic_supplier"></option>
        </select>

        <input id="searchValue" class="layui-input search-input" type="text"/>&emsp;

        <button id="searchBtn" class="layui-btn search-btn" permission="20011"><i class="layui-icon">&#xe615;</i><span i18n="search"/></button>
            &emsp;
    </div>

</div>
<table class="layui-table" id="table" lay-filter="table"></table>

<!-- 表单弹窗 -->
<script type="text/html" id="addModel">
    <form id="editForm" class="layui-form model-form" action="">
        <input name="_method" value="POST" type="hidden" />
        <div class="layui-form-item">
            <label class="layui-form-label"><span i18n="basic_supplier"></span></label>
            <div class="layui-input-block">
                <input name="store_id" type="text" class="layui-input layui-disabled" maxlength="20" disabled/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span i18n="basic_sku"></span></label>
            <div class="layui-input-block">
                <input name="sku" type="text" class="layui-input layui-disabled" maxlength="20" disabled/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span i18n="inventory_storage"></span></label>
            <div class="layui-input-block">
                <input name="storage" type="text" class="layui-input layui-disabled" disabled/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span i18n="inventory_cache_storage"></span></label>
            <div class="layui-input-block">
                <input name="cache_storage" type="text" class="layui-input"  />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span i18n="inventory_lock_storage"></span></label>
            <div class="layui-input-block">
                <input name="lock_storage" type="text" class="layui-input"  />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span i18n="inventory_safe_storage"></span></label>
            <div class="layui-input-block">
                <input name="safe_storage" type="text" class="layui-input"  />
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" type="button" id="btnCancel"><span i18n="cancel"></span></button>
            <button class="layui-btn" lay-filter="btnSubmit" lay-submit><span i18n="ok"></span></button>
        </div>
    </form>
</script>
<!-- 表格操作列 -->
<div id="barTpl" style="display:none;">

    <button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit" permission="20012"><span i18n="edit"></span></button>

</div>


<script type="text/javascript" src="/static/js/inventory/balance.js"></script>