<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- datasource 读写 -->
    <bean id="wms_dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
        <property name="url" value="${wmsjdbc.url}"/>
        <property name="username" value="${wmsjdbc.username}"/>
        <property name="password" value="${wmsjdbc.password}"/>
        <property name="maxActive" value="2"/>
        <property name="initialSize" value="1"/>
        <property name="maxWait" value="60000"/>
        <property name="minIdle" value="1"/>
    </bean>

    <bean id="wms_Factory" name="wms_Factory"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation"
                  value="classpath:mybatis/config/mybatis-config.xml"/>
        <property name="dataSource" ref="wms_dataSource"/>
        <property name="mapperLocations" value="classpath*:mybatis/sqlmapping/flux/*.xml"/>
    </bean>
    <bean id="wms_Configuer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
        <property name="basePackage" value="com.nilo.wms.dao.flux"/>
        <property name="sqlSessionFactoryBeanName" value="wms_Factory"/>
    </bean>

    <!-- datasource 读写 -->
    <bean id="platform_dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="2"/>
        <property name="initialSize" value="1"/>
        <property name="maxWait" value="60000"/>
        <property name="minIdle" value="1"/>
    </bean>

    <bean id="platform_Factory" name="platformFactory"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation"
                  value="classpath:mybatis/config/mybatis-config.xml"/>
        <property name="dataSource" ref="platform_dataSource"/>
        <property name="mapperLocations" value="classpath*:mybatis/sqlmapping/platform/*.xml"/>
    </bean>
    <bean id="platform_Configuer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
        <property name="basePackage" value="com.nilo.wms.dao.platform"/>
        <property name="sqlSessionFactoryBeanName" value="platform_Factory"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="platform_dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
