<div class="content-header">
	<span class="layui-breadcrumb">
	  <a href="#!home"><span i18n="home_page"></span></a>
	  <a><cite><span i18n="basic_warehouse_mgn"></span> </cite></a>
	</span>
    <div class="layui-form toolbar">
        <label><span i18n="basic_warehouse_mgn"></span></label>：

        <input id="searchValue" class="layui-input search-input" type="text"/>&emsp;

        <button id="searchBtn" class="layui-btn search-btn" permission="20031"><i class="layui-icon">&#xe615;</i><span i18n="search"></span></button>
            &emsp;

        <button id="addBtn" class="layui-btn search-btn" permission="10012"><i class="layui-icon">&#xe654;</i><span i18n="add"></span>
        </button>
    </div>

</div>
<table class="layui-table" id="table" lay-filter="table"></table>
<table class="layui-table" id="table1" lay-filter="table"></table>
<!-- 表单弹窗 -->
<script type="text/html" id="addModel">
    <form id="editForm" class="layui-form model-form" action="">
        <input name="id" type="hidden"/>
        <input name="_method" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label"><span i18n="basic_warehouse_name"/></label>
            <div class="layui-input-block">
                <input name="name" type="text" class="layui-input" maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span i18n="country"/></label>
            <div class="layui-input-block">
                <select name="country" lay-verify="required">
                    <option value="kenya"   i18n="pls_select"></option>
                    <option value="kenya"   i18n="kenya"></option>
                    <option value="uganda"  i18n="uganda"></option>
                    <option value="nigeria" i18n="nigeria"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span i18n="basic_warehouse_space"/></label>
            <div class="layui-input-block">
                <input name="space" type="text" class="layui-input" lay-verify="required" required/>
            </div>
        </div>


        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" type="button" id="btnCancel"><span i18n="cancel"></span></button>
            <button class="layui-btn" lay-filter="btnSubmit" lay-submit><span i18n="ok"></span></button>
        </div>
    </form>
</script>
<!-- 表格操作列 -->
<div id="barTpl" style="display:none;">

    <button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit" permission="10013"><span i18n="edit"/></button>

    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" permission="10014"><span i18n="delete"/></button>

    <button class="layui-btn layui-btn-xs" lay-event="reset" permission="10015"><span i18n="reset_password"/></button>

</div>
<!-- 表格状态列 -->
<script type="text/html" id="statusTpl">
    <input type="checkbox" value="{{d.userId}}" lay-filter="statusCB" lay-skin="switch"
           lay-text="On|Off" {{ d.status== 1?'checked' : '' }}>
</script>

<script type="text/javascript" src="/static/js/basic/warehouse.js"></script>